{% load static %}

<!--Answer example-->
<div class="container p-1 border border-dark">
    <div class="d-flex flex-row">
        <div class="d-flex flex-column col-md-2">
            <img src="{% static "img\default_avatar.jpg"%}" width="65" height="65" class="align-items-start" alt=""><p>
            <div class="flex-row alight-self-left">
                <div class="btn-group-vertical align-items-stretch col-md-9">
                    <button type="button" class="btn btn-outline-dark">+</button>
                    <button type="button" class="btn btn-outline-dark">-</button>
                </div>
                <div class="d-inline alight-self-right flex-column">{{ answer.rating }}</div>
            </div>
        </div>

        <div class="d-flex flex-column align-items-start col-md-9 ">
            <blockquote class="mb-auto">
                {{ answer.content }}
            </blockquote>
            <div class="form-check align-self-end">
                <input class="form-check-input" type="checkbox" value="" id="correctAnswer">
                <label class="form-check-label" for="correctAnswer">
                    This is correct answer!
                </label>
            </div>
            <div class="d-flex flex-row align-self-end">
                <div class="p-2"><div class="badge badge-pill bg-dark text-white">by AuthorName </div></div>
                <div class="p-2"><div class="badge badge-pill bg-dark text-white">Date ({{ question.date}})</div></div>
            </div>
        </div>
    </div>
</div>
