<div class="card mb-12 bg-light mt-2 mb-2">
  <div class="row no-gutters">
    <div class="col-md-4">
      <div class="row w-100 m-2">
        <img src="{{MEDIA_URL}}/{{ answer.author.avatar}}" class="card-img askme-border1px my-2 mx-2 askme-img200" alt="userAvatar">
      </div>
      <div class="row w-100 m-2 ml-auto">
        <div class="col-mb-4">
          <span class="askme-counter mx-4 my-2">{{answer.rating}}</span>
        </div>
        <div class="col-mb-4">
          <a href="#" class="mx-2 my-4 askme-like_dislike"><i class="far fa-thumbs-up"></i></a>
        </div>
        <div class="col-mb-4">
          <a href="#" class="mx-2 my-4 askme-like_dislike"><i class="far fa-thumbs-down"></i></a>
        </div>
      </div>
    </div>
    <div class="col-md-8 ml-0">
      <div class="card-body ml-0">
        <p class="card-text">{{answer.content}}</p>
        <div class="row w-100 m-0">
          <div class="col-mb-12">
            {% if answer.is_correct == 1 %}
              <span class="askme-correctAnswer"> Correct!</span>
            {% else %}
              <span class="askme-notcorrectAnswer"> Correct!</span>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<hr>
