<!--Login form-->
<form>
    <!--Email input-->
    <div class="form-group row">
        <label for="inputEmail" class="col-md-2">Email</label>
        <input type="email" class="form-control col-md-6" id="inputEmail" aria-describedby="Your Email"
               placeholder="Enter email" required>
    </div>

    <!--Password input-->
    <div class="form-group row">
        <label for="inputPassword" class="col-md-2">Password</label>
        <input type="password" class="form-control col-md-6" id="inputPassword"
               placeholder="Password" required>
    </div>

    <!--Log in button-->
    <div class="form-group row">
        <div class="col-md-2"></div>
        <button class="btn btn-outline-dark" type="submit">Log in</button>
    </div>

    <!--New account offer-->
    <div class="form-group row">
        <div class="col-md-2"></div>
        <a href="{% url 'register' %}">create new account</a>
    </div>
</form>
