<!--Question form-->
<form>
    <!--Title input-->
    <div class="form-group row">
        <label for="questionTitle" class="col-md-2 col-form-label">Title</label>
        <input type="text" class="form-control col-md-6" id="questionTitle"
               placeholder="How to spook?" required>
    </div>

    <!--Text input-->
    <div class="form-group row">
        <label for="questionBody" class="col-md-2 col-form-label">Text</label>
        <textarea type="text" class="form-control col-md-6" id="questionBody"
                  placeholder="Really, how? I have no idea!" required></textarea>
    </div>

    <!--Tags input-->
    <div class="form-group row">
        <label for="questionTags" class="col-md-2 col-form-label">Tags</label>
        <input type="password" class="form-control col-md-6" id="questionTags"
               placeholder="howto, spooks" required>
    </div>

    <!--Ask button-->
    <div class="form-group row">
        <div class="col-md-2"></div>
        <button class="btn btn-outline-dark" type="submit">Ask</button>
    </div>
</form>
