{%load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>404 error</title>
    <link rel="stylesheet" href="{% static '/css/style_for_error.css' %}">
    <link rel="stylesheet" href="{% static '/css/bootstrap.min.css' %}">
</head>
<body>
    <div class="container-fluid">
        <div class="row mt-5">
            <div class="col-6">
                <img src="{% static '/img/Logo.png' %}" alt="logo" class="askme-img200 askme-sheep">
            </div>
            <div class="col-6">
                <p class="h-5 m-more">404 error!</p>
                <p class="h-5">Page not found!</p>
                <button class="btn btn-outline-info my-2 my-sm-2 mx-auto px-5 ml-5"
                        type="button" onClick='location.href= "{% url 'index' %}"'>Back to main page!</button>
            </div>
        </div>
    </div>
</body>
</html>