{% extends "base.html" %}
{% block content %}


          <div class="alert alert-dark bg-light mt-2 ml-3 mr-2">
            <div class="row ml-4">
              <h2 class="my-4">New Question</h2>
            </div>
            <div class="row ml-4">

              <form class="w-75" method="post">
                {% csrf_token %}

                <div class="row ml-4 mb-2">
                  <p class="askme-error">
                    {% for error in form.errors %}
                      {{ error }}
                    {% endfor %}
                  </p>
                </div>
                <div class="form-group row">
                  <label for="questionTittle" class="col-md-1 col-sm-12 col-form-label">Tittle</label>
                  <div class="col-md-11 col-sm-12">
                    <input name="title"
                            type="text"
                            class="form-control"
                            id="questionTittle"
                            placeholder="Tittle...">
                  </div>
                </div>
                <div class="form-group row">
                  <label for="questionQuestion" class="col-md-1 col-sm-12 col-form-label">Text</label>
                  <div class="col-md-11 col-sm-12">
                    <textarea name="content"
                            class="form-control"
                            id="questionQuestion"
                            aria-label="With textarea"
                            type="text"
                            placeholder="Your question..."></textarea>
                  </div>
                </div>
                <div class="form-group row">
                  <label for="questionTags" class="col-md-1 col-sm-12 col-form-label">Tags</label>
                  <div class="col-md-11 col-sm-12">
                    <input name="tags"
                            type="text"
                            class="form-control"
                            id="questionTags"
                            placeholder="Tags...">
                  </div>
                </div>

                <div class="form-group row">
                  <div class="col-md-1 col-sm-12">
                  </div>
                  <div class="form-group col-md-11 col-sm-12">
                    <button type="submit" class="btn  btn-outline-info w-25">Ask!</button>
                  </div>
                </div>

              </form>
            </div>
          </div>



{% endblock %}
